@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin:0;
    box-sizing: border-box;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    position: relative;
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    color:#FFF;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.clock{
    
    font-size: 10rem;
    
}


/*gretting menu*/
.gretting{
    margin-bottom: 50px;
}

.grettingForm{
    display:none;
    
}

.gretting span{
    font-size:3rem;
    animation-duration: 0.5s;
    animation-name:showMenu;
    font-weight: 600;
}

.inputGretting{
    background: transparent;
    border:0;
    border-bottom:3px solid #fff;
    padding:10px;
    color:#fff;
    text-align: center;
    font-size:3rem;
    width:350px;
}

.inputGretting::placeholder{
    color:#FFF;
    opacity: 0.7;
}

.showGretting{
    display:block;
    
}

/*main focus*/

.focusContainer{
    font-size:2rem;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
    transition: display 0.3s ease;
}



.enterFocus{
    font-size:2rem;
    width:480px;
    background: transparent;
    border:0;
    border-bottom:3px solid #fff;
    padding:10px;
    text-align: center;
    color:#fff;

}

.focusEl i {
cursor:pointer;
}




.weather{
    position:absolute;
    right:15px;
    top:10px;
}



/*  todo menu and button */

.todo{
    position: absolute;
    right:15px;
    bottom:10px;
    
}

.todoBtn{
    background: transparent;
    border:0;
    color:#fff;
    cursor:pointer;
}


@keyframes closeMenu{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.todoContainer{
    position:absolute;
    right:30px;
    bottom:40px;
}

.todoInputContainer{
    position:absolute;
    bottom: 10px;
    left:0;
    right:0;
    width:100%;
    display:flex;
   justify-content:flex-start;
}


.todoInput{
    width:280px;
    margin:0;
    border:0;
    padding:5px 10px;
    font-size:15px;
    display:none;
}

.todoMenu{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width:300px;
    height:250px;
    border-radius: 10px;
    opacity: 0;
    animation-duration: 0.5s;
    animation-name:closeMenu;
    color:black;
}

.todoInstruction{
    display:none;
    flex-direction: column;
}

.showInstruction{
    display:flex;
}

.todoList{
    display: flex;
    flex-direction: column;
}

.todoList ul{
    list-style-type: none;
}

@keyframes showMenu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.showtodoMenu{
    opacity: 1;
    animation-duration: 0.5s;
    animation-name:showMenu;
    
}

.showtodoList{
    display:flex;
    align-items: flex-start;
    
    justify-content: space-between;
    
}


.todoMenu span{
    color:black;
    margin:10px;
}

.newTodo{
    background-color: darkgoldenrod;
    border:0;
    border-radius: 15px;
    padding:10px 15px; 
    color:black;
    cursor:pointer;
    display:block;
}






/*search menu*/

.search{
    position:absolute;
    top:10px;
    left:15px;
    display: flex;
    align-items: center;
}

.inputSearch{
    color:#fff;
    background: transparent;
    border:0;
    border-radius: 1px;
    border-bottom: 2px solid #fff;
    margin-left: 10px;
    padding :5px;
}

.iconSearch{
    margin-left: 10px;
    cursor:pointer;
}


/*remove outline*/
.todoMenu button:focus,
.enterFocus:focus,
.inputGretting:focus,
.inputSearch:focus,
.todoInput:focus,
.todoBtn:focus{
    outline: none;
}
